# Python Basics Notebook

<hr>

print your 1st statement

In [3]:
print('Hello, wolrd!')
print('Hello, Python!')

Hello, wolrd!
Hello, Python!

In [4]:
# Practice on writing comments

#print('Hello, Python!') # This line prints a string
print("Hi")

Hi

<br><br>

In [1]:
# Print string to see the running order

print("1st Statement")
print("2nd Statement ")
print("3rd statement")

1st Statement
2nd Statement
3rd statement

<br><br>

# Data_types

### Data Types in Python

- **int**: Whole numbers (e.g., `5`, `-10`)  
- **float**: Decimal numbers (e.g., `3.14`, `-0.5`)  
- **string**: Text enclosed in quotes (e.g., `"hello"`, `'Python'`)  
- **boolean**: True/False values (`True`, `False`)

<hr>

## Integers (int) - Whole Numbers

In [6]:
# Integers are whole numbers (positive, negative, or zero)
integer_number = 10
negative_integer = -5
zero_integer = 0

# Printing integer values
print("Positive Integer:", integer_number)
print("Negative Integer:", negative_integer)
print("Zero Integer:", zero_integer)

Positive Integer: 10
Negative Integer: -5
Zero Integer: 0

## Practice Exercise:

In [7]:
# Declare three integer variables with different values and print them.
# Example: Assign values like 15, -8, and 0 to variables and print them.

# Your Code Here:

<hr>

<br><br>

## Floats (float) - Decimal Numbers

In [8]:
# Floats include decimal numbers
float_number = 10.5
negative_float = -3.14
zero_float = 0.0

# Printing float values
print("Positive Float:", float_number)
print("Negative Float:", negative_float)
print("Zero Float:", zero_float)

Positive Float: 10.5
Negative Float: -3.14
Zero Float: 0.0

## Practice Exercise:

In [9]:
# Declare three float variables with different values and print them.
# Example: Assign values like 20.75, -4.5, and 0.0 to variables and print them.

# Your Code Here:

<hr>

<br><br>

##  Typecasting: Converting Integers to Floats

In [10]:
# Converting an integer to a float
int_value = 7
int_to_float = float(int_value)

# Printing the conversion result
print("Original Integer:", int_value)
print("Converted to Float:", int_to_float)

Original Integer: 7
Converted to Float: 7.0

## Practice Exercise:

In [11]:
# Convert any two integers of your choice into floats and print them.

# Your Code Here:

<hr>

<br><br>

## Typecasting: Converting Floats to Integers

In [12]:
# Converting a float to an integer
float_value = 12.99
float_to_int = int(float_value)  # Removes the decimal part (truncation)

# Printing the conversion result
print("Original Float:", float_value)
print("Converted to Integer:", float_to_int)

Original Float: 12.99
Converted to Integer: 12

## Practice Exercise:

In [13]:
# Convert any two floats of your choice into integers and print them.

# Your Code Here:

<hr>

<br><br>

##  Converting Integers and Floats to Strings

In [14]:
# Converting an integer to a string
int_value = 25
int_to_str = str(int_value)

# Converting a float to a string
float_value = 7.89
float_to_str = str(float_value)

# Printing the results
print("Integer as String:", int_to_str)
print("Float as String:", float_to_str)

Integer as String: 25
Float as String: 7.89

## Practice Exercise:

In [15]:
# Convert an integer and a float of your choice into strings and print them.

# Your Code Here:

<hr>

<br><br>

## . Converting Numbers to Booleans

In [16]:
# Any non-zero number is considered True, and 0 is considered False in Boolean conversion
int_value = 10
zero_value = 0
float_value = -5.6

# Converting to Boolean
bool_from_int = bool(int_value)  
bool_from_zero = bool(zero_value)  
bool_from_float = bool(float_value)

# Printing the results
print("Boolean from Integer (10):", bool_from_int)
print("Boolean from Zero (0):", bool_from_zero)
print("Boolean from Float (-5.6):", bool_from_float)

Boolean from Integer (10): True
Boolean from Zero (0): False
Boolean from Float (-5.6): True

## Practice Exercise:

In [17]:
# Convert an integer (other than 0) and a float to a Boolean and print them.
# Also, check the Boolean value of 0.

# Your Code Here:

<br><br>